<ngt-color *args="['black']" attach="background" />
<ngt-fog *args="['#000000', 1, 15000]" attach="fog" />

<ngt-point-light color="#ff2200" />
<ngt-directional-light />

<ngt-mesh-lambert-material #mat [wireframe]="true" />
<ng-container *ngFor="let geom of geometries">
    <ngt-icosahedron-geometry *args="[100, geom.detail]" [ref]="geom.ref" />
</ng-container>

<ngts-detailed *ngFor="let p of positions" [position]="p" [distances]="[50, 300, 1000, 2000, 8000]">
    <ngt-mesh *ngFor="let geom of geometries" [geometry]="geom.ref.nativeElement" [material]="mat" [scale]="1.5" />
</ngts-detailed>

<ngt-fly-controls
    *args="[camera, glDom]"
    [movementSpeed]="1000"
    [rollSpeed]="Math.PI / 10"
    (beforeRender)="$any($event).object.update($any($event).state.delta)"
/>
